@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --green: #82cd21;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top left, #a85581 0%, #8f3d6b 40%, #7a2d5a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOJAS CONTAINER */
.hojas-container {
    width: 100%;
    height: 100%;
    position: relative;
    animation: scale-down 2s ease-out;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REPRODUCTOR */
.disc {
    width: 15vw;
    height: 15vw;
    min-height: 300px;
    min-width: 300px;
    border-radius: 50%;
    background: #151626;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    animation: rotation 30s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disc img {
    filter: brightness(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 23%;
    min-width: 450px;
    padding: 50px;
    background: rgb(255, 0, 127, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.reproductor h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 300;
}

.reproductor p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.reproductor p:first-child {
    margin-bottom: 30px;
}

.info {
    margin-top: 50px;
}

.control-btn {
    background: #ffffff33;
    color: white;
    border: none;
    width: 80px;
    margin-top: 20px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.control-btn:hover {
    background: #6bac15;
    transform: scale(1.05);
}

.control-btn:active {
    transform: scale(0.95);
}

.play-icon, .pause-icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-icon {
    opacity: 0;
    transform: scale(1.5);
}

.pause-icon {
    opacity: 1;
    transform: scale(1.8);
}

.control-btn.paused .play-icon {
    opacity: 1;
    transform: scale(2);
}

.control-btn.paused .pause-icon {
    opacity: 0;
    transform: scale(1.5);
}

/* HOJAS */
.hoja {
    width: 30px;
    height: 200px;
    border-radius: 100% 0 0 0;
    border-left: 6px solid var(--green);
    position: relative;
    transform-origin: left bottom;
}

.hojita {
    width: 70px;
    height: 20px;
    border-radius: 50%;
    border-top: 6px solid var(--green);
    position: absolute;
}

.hojita-1 {
    top: -25px;
    left: -20px;
    transform: rotate(98deg);
}

.hojita-2 {
    top: -20px;
    left: -35px;
    border-top-width: 8px;
    transform: rotate(75deg);
}

.hojita-3 {
    left: -45px;
    border-top-width: 10px;
    transform: rotate(60deg);
}

.hojita-4 {
    width: 70px;
    top: 20px;
    left: -55px;
    border-top-width: 10px;
    transform: rotate(45deg);
}

.hojita-5 {
    top: 40px;
    left: -60px;
    border-top-width: 10px;
    transform: rotate(30deg);
}

.hojita-6 {
    width: 80px;
    top: 60px;
    left: -75px;
    border-top-width: 10px;
    transform: rotate(20deg);
}

.hojita-7 {
    width: 80px;
    top: 80px;
    left: -80px;
    border-top-width: 8px;
    transform: rotate(15deg);
}

.hojita-8 {
    width:100px;
    top: 100px;
    left: -100px;
    border-radius: 100%;
    border-top-width: 8px;
    transform: rotate(13deg);
}

.hojita-9 {
    width: 90px;
    top: 122px;
    left: -90px;
    border-top-width: 5px;
    transform: rotate(18deg);
}

.hojita-10 {
    width: 80px;
    top: 140px;
    left: -80px;
    border-top-width: 6px;
    transform: rotate(20deg);
}

.hojita-11 {
    width: 80px;
    top: 160px;
    left: -80px;
    border-top-width: 8px;
    transform: rotate(22deg);
}

.hojita-12 {
    top: 0px;
    left: 5px;
    transform: rotate(-30deg);
}

.hojita-13 {
    top: 20px;
    left: 5px;
    border-top-width: 5px;
    transform: rotate(-20deg);
}

.hojita-14 {
    top: 40px;
    left: 5px;
    border-top-width: 7px;
    transform: rotate(-15deg);
}

.hojita-15 {
    width: 80px;
    top: 60px;
    left: 3px;
    border-top-width: 10px;
    transform: rotate(-15deg);
}

.hojita-16 {
    width: 90px;
    top: 83px;
    left: 2px;
    border-top-width: 10px;
    transform: rotate(-13deg);
}

.hojita-17 {
    width: 100px;
    top: 105px;
    left: 0px;
    border-top-width: 10px;
    transform: rotate(-12deg);
}

.hojita-18 {
    width: 90px;
    top: 130px;
    left: 0px;
    border-top-width: 8px;
    transform: rotate(-5deg);
}

.hojita-19 {
    width: 70px;
    top: 150px;
    left: 0px;
    border-top-width: 6px;
    transform: rotate(-5deg);
}

.hojita-20 {
    width: 60px;
    top: 170px;
    left: 0px;
    border-top-width: 5px;
    transform: rotate(-5deg);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --green: #82cd21;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top left, #a85581 0%, #8f3d6b 40%, #7a2d5a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOJAS CONTAINER */
.hojas-container {
    width: 100%;
    height: 100%;
    position: relative;
    animation: scale-down 2s ease-out;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REPRODUCTOR */
.disc {
    width: 15vw;
    height: 15vw;
    min-height: 300px;
    min-width: 300px;
    border-radius: 50%;
    background: #151626;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    animation: rotation 30s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disc img {
    filter: brightness(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 23%;
    min-width: 450px;
    padding: 50px;
    background: rgb(255, 0, 127, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.reproductor h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 300;
}

.reproductor p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.reproductor p:first-child {
    margin-bottom: 30px;
}

.info {
    margin-top: 50px;
}

.control-btn {
    background: #ffffff33;
    color: white;
    border: none;
    width: 80px;
    margin-top: 20px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.control-btn:hover {
    background: #6bac15;
    transform: scale(1.05);
}

.control-btn:active {
    transform: scale(0.95);
}

.play-icon, .pause-icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-icon {
    opacity: 0;
    transform: scale(1.5);
}

.pause-icon {
    opacity: 1;
    transform: scale(1.8);
}

.control-btn.paused .play-icon {
    opacity: 1;
    transform: scale(2);
}

.control-btn.paused .pause-icon {
    opacity: 0;
    transform: scale(1.5);
}