@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --green: #82cd21;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top left, #a85581 0%, #8f3d6b 40%, #7a2d5a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOJAS CONTAINER */
.hojas-container {
    width: 100%;
    height: 100%;
    position: relative;
    animation: scale-down 2s ease-out;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REPRODUCTOR */
.disc {
    width: 15vw;
    height: 15vw;
    min-height: 300px;
    min-width: 300px;
    border-radius: 50%;
    background: #151626;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    animation: rotation 30s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disc img {
    filter: brightness(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 23%;
    min-width: 450px;
    padding: 50px;
    background: rgb(255, 0, 127, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.reproductor h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 300;
}

.reproductor p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.reproductor p:first-child {
    margin-bottom: 30px;
}

.info {
    margin-top: 50px;
}

.control-btn {
    background: #ffffff33;
    color: white;
    border: none;
    width: 80px;
    margin-top: 20px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.control-btn:hover {
    background: #6bac15;
    transform: scale(1.05);
}

.control-btn:active {
    transform: scale(0.95);
}

.play-icon, .pause-icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-icon {
    opacity: 0;
    transform: scale(1.5);
}

.pause-icon {
    opacity: 1;
    transform: scale(1.8);
}

.control-btn.paused .play-icon {
    opacity: 1;
    transform: scale(2);
}

.control-btn.paused .pause-icon {
    opacity: 0;
    transform: scale(1.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --green: #82cd21;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at top left, #a85581 0%, #8f3d6b 40%, #7a2d5a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOJAS CONTAINER */
.hojas-container {
    width: 100%;
    height: 100%;
    position: relative;
    animation: scale-down 2s ease-out;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REPRODUCTOR */
.disc {
    width: 15vw;
    height: 15vw;
    min-height: 300px;
    min-width: 300px;
    border-radius: 50%;
    background: #151626;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    animation: rotation 30s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disc img {
    filter: brightness(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 23%;
    min-width: 450px;
    padding: 50px;
    background: rgb(255, 0, 127, 0.3);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.reproductor h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 300;
}

.reproductor p {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

.reproductor p:first-child {
    margin-bottom: 30px;
}

.info {
    margin-top: 50px;
}

.control-btn {
    background: #ffffff33;
    color: white;
    border: none;
    width: 80px;
    margin-top: 20px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.control-btn:hover {
    background: #6bac15;
    transform: scale(1.05);
}

.control-btn:active {
    transform: scale(0.95);
}

.play-icon, .pause-icon {
    position: absolute;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-icon {
    opacity: 0;
    transform: scale(1.5);
}

.pause-icon {
    opacity: 1;
    transform: scale(1.8);
}

.control-btn.paused .play-icon {
    opacity: 1;
    transform: scale(2);
}

.control-btn.paused .pause-icon {
    opacity: 0;
    transform: scale(1.5);
}